[project]
	description = Only for testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jens Wiklander (jenswi-linaro)
[access "refs/for/refs/*"]
	read = group user/Jens Wiklander (jenswi-linaro)
	push = group user/Jens Wiklander (jenswi-linaro)
	label-Code-Review = -2..+2 group user/Jens Wiklander (jenswi-linaro)
	label-Verified = -1..+1 group user/Jens Wiklander (jenswi-linaro)
	rebase = group user/Jens Wiklander (jenswi-linaro)
	removeReviewer = group user/Jens Wiklander (jenswi-linaro)
	submit = group user/Jens Wiklander (jenswi-linaro)
[access "refs/heads/*"]
	read = group user/Jens Wiklander (jenswi-linaro)
	create = group user/Jens Wiklander (jenswi-linaro)
	push = +force group user/Jens Wiklander (jenswi-linaro)
	pushMerge = group user/Jens Wiklander (jenswi-linaro)
[access "refs/tags/*"]
	push = +force group user/Jens Wiklander (jenswi-linaro)
	pushTag = group user/Jens Wiklander (jenswi-linaro)
	pushSignedTag = group user/Jens Wiklander (jenswi-linaro)
